<link rel="stylesheet" href="/css/chats.css">
<div class="container">
   <input type="hidden" value="{{users}}" class="data">
    <div class="searchbar">
        <p>Search peoples names!</p> <br>
        <input type="text" placeholder="John" class="changes">
    </div> <br> <br>
    <div class="results"> 
        
    </div>
    <div class="space" style="min-height: 100px;"></div>
</div>

<script defer src="js/chats.js"></script>
<script defer>
   
    
    
</script>