<link rel="stylesheet" href="/css/index.css">
<div class="inside">
    <div class="btext">
        <h2>Chat with your fav people *</h2> <br> <br>
        <div class="divs">
            <p>Already a user <button>Login</button></p>
            <p>Don't have an acc <button>SignUp</button></p>
        </div>
    </div>
</div>