.container{
    margin-top: 5%;
}
.searchbar{
    width: 50%;
    margin: auto;
    text-align: center;
}
.results{
    width: 80%;
    margin: auto;
    display: block;
    gap: 5%;
}
.profiles{
    margin-top: 5%;
    width: 100%;
    min-height: 200px;
    background-color: #C4C4C4;
    border-radius: 30px;
}
.flex{
    width: 100%;
    display: flex;
}
img{
    margin-top: 10px;
    width: 40%;
    border-radius: 50%;
}
.text{
    display: block;
    width: 40%;
}
.pic{
    width: 40%;
    text-align: center;
}
.btn{
    text-align: right;
    margin-right: 50px;
   
}
.inbox{
    background-color: #1A8FDD;
    border-radius: 30px;
    width: 133px;
    height: 34px;
    border: 2px #1A8FDD;
}